{{#block "header"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4e03be8471.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Document</title>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark m-1">
    <a class="navbar-brand ms-4 d-flex align-items-center">
        <!-- <img src="./images/portfolio.jpeg" alt=""> -->
        <div class="five"></div>
        <p class="text-white m-1">MUVAKA!</p>
    </a>
    <button class="navbar-toggler" type="button"   data-bs-toggle="collapse" data-bs-target="#yes" aria-label="toggle navigation" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class=" collapse navbar-collapse me-5" id="yes">
        <ul class="navbar-nav ms-auto me-5">
            <li><a class="nav-link  p2 px-3" href="/" >Home</a></li>
            <li><a class="nav-link  p2 px-3" href="/allProjects">Projects</a></li>
            <li><a class="nav-link  p2 px-3" href="/web">Web pages</a></li>
            <li><a class="nav-link  p2 px-3" href="/android">Android</a></li>
            <li><a class="nav-link  p2 px-3" href="/api">Api</a></li>
            <li><a class="nav-link  p2 px-3" href="/resume">Resume</a></li>
        </ul>
    </div>
</nav>
{{/block}}
{{#block "content"}}{{/block}}
<!--{{#block "footer"}}-->
<!--    -->
<!--{{/block}}-->